<div class="four wide column center aligned votes">
  <div class="ui statistic">
    <div class="value">
      <!-- Aquí va el numero de votos -->
      {{ article.votes }}
    </div>
    <div class="label">
      Votos
    </div>
  </div>
</div>

<div class="twelve wide column">
  <a href="{{ article.link }}" class="ui large header">{{ article.title }}</a>

  <div class="meta">( {{ article.domain() }} )</div>
  <ul class="ui big horizontal list voters">
    <li class="item">
      <a href="javascript:;" (click)="voteUp()">
        <i class="arrow up icon"></i>
        Voto a favor
      </a>
    </li>
    <li class="item">
      <a href="javascript:;" (click)="voteDown()">
        <i class="arrow down icon"></i>
        Voto en contra
      </a>
    </li>
  </ul>
</div>